*{
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;;
    margin: 0;

}
/* This is the styling of the Home page */
.home{
    padding: 100px;
}
.home img{
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 500px;
    margin-top: 25px;
}
.home .spice{
    background-color: whitesmoke;
    height: 500px;
    margin-left: 200px;
    border-radius: 10px;
    padding: 50px;
    
}
.home .spice button{
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 80px 30px;
}
.home .more{
    display: flex;
}
/* Styling of the Home page ends here */
/* The styling of the navbar starts here */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    align-items: center;
    margin-top: 0px;
    padding-left: 30PX;

}
.navbar span{
    /* padding-top: 8px; */
    font-size: 32px;

}
.navbar ul{
    display: flex;
    padding-right: 30PX;


}

.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 32px;

}
.navbar ul li{
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
}
/* Styling of the navbar ends here */
/* styling of the footer starts here */
.footer{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;

}
.footer h6{
    font-size: 26px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.footer span{
    font-size: 21px;
    margin: 20px;
}
/* styling of the footer ends here */
/* This is the styling of the projects page */
h6{
    margin: 20px;
}
.projects{
    display: flex;
    flex: wrap;

}
.projects .project{
    margin-left: 30px;
}
.projects .project span{
    background-color: none;
}
.projects .project button{
    margin-top: 300px;
    margin-left: 350px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 18px;
}

/* The styling of the project page ends here */